* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
  width: 90%;
  margin: 2rem auto;
  background: rgb(243, 220, 177);
  border-radius: 1rem;
  padding: 1rem;
}

.product-card {
  padding: 0 0.5rem;
  width: fit-content;
  height: 300px;
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(187, 187, 187, 0.40);
  text-align: center;
  overflow: hidden;
  transition: 0.4s all ease;
}

.time {
  align-self: end;
  margin-right: 0.5rem;
  color: #f16007;
}

.img_container {
  margin-block: 1.5rem;
}

.btn {
  display: inline-block;
  width: 100%;
  padding-block: 12px;
  color: #FFFFFF;
  background-color: #3b3337;
  text-decoration: none;
}

.product-card:hover img {
  transform: scale(1.01);
}

.product-card:hover {
  box-shadow: 1px 1px 2px 1px lightgray;
}

.btn:hover {
  background-color: #f16007;
  color: black;
  font-weight: bolder;
}


